* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
#main {
  display: flex;
  align-content: center;
}

.navbar {
  display: flex;
  align-content: center;
  background-color: black;
  margin-bottom: 50px;
}

#nav-container {
  padding: 0;
  background-color: black;
  align-items: center;
  margin-bottom: 50px;
  height: 90px;
}

#nav-container-2 {
  margin-top: 10px;
}

#nav-container-2 > ul {
  margin: auto;
}

#searchbox-1 {
  margin-left: 0 !important;
}

#searchbox-1 > li > button {
  height: 32px;
  background-color: rgb(243, 242, 242);
  margin-left: -3px;
}

#searchbar {
  width: 600px;
}

.logo {
  margin-left: 0 !important;
  margin-top: -4px !important;
}

.extra-buttons > li > a {
  color: white;
}

.extra-buttons {
  margin-left: auto;
}

.list-group-item {
  background-color: black;
  color: white;
}

a.list-group-item {
  color: white;
}

.main-section {
  display: flex;
  align-items: flex-start;
}
#sidebar {
  margin-right: auto;
  width: 18%;
}
#weather {
  margin-left: auto;
  width: 18%;
}
#news {
  width: 60%;
}
#news img {
  width: 100%;
}

#sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding-right: 1.25rem;
  padding-bottom: 0.875rem;
  padding-left: 1.25rem;
  font-size: 2rem;
}

#getApp > ul {
  padding-left: 0px;
  line-height: 1.8;
}

#footer > ul {
  padding-left: 0px;
  line-height: 1.8;
}

#getApp > ul > li > a {
  color: black;
}

#footer > ul > li > a {
  color: black;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}



/* .card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
   
}
.card {
  font-size: 1em;
  overflow: hidden;
  padding: 5;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-top:20px;
}
.btn {
margin-top: auto;
} */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.card {
  float: left;
  padding: 0 1.7rem;
  width: 112%;
}

.card .wrapper {
  background-color: #fff;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}

.card .date {
  position: absolute;
  background-color: black;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 6px;
}
.card .author {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
  font-weight: 300px;
}
.card .text {
  height: 70px;
  margin: 0;
}
.card input[type="checkbox"] {
  display: none;
}
.card input[type="checkbox"]:checked + .menu-content {
  transform: translateY(-60px);
}

.example-2 .wrapper {
  background: black;
  margin-bottom: 10px;
}
.example-2 .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}
.example-2 .header {
  color: #fff;
  padding: 1em;
}
.example-2 .header::before,
.example-2 .header::after {
  content: "";
  display: table;
}
.example-2 .header::after {
  clear: both;
}
.example-2 .header .date {
  float: left;
  font-size: 12px;
}

.example-2 .data {
  color: #fff;
  transform: translateY(calc(70px + 4em));
}
.example-2 .title a {
  color: #fff;
}
.example-2 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-2 .button::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
  background-color: black;
}
.example-2 .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
  background-color: black;
}
.invisible {
  display: none;
}

.stories {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 5px;
  width: fit-content;
  margin-left: 15px;
}
